
<div class="page-width section-spacing">
    <div class="404_wrapper flex col center text-align-center">
        <h1 class="h1 spacing-bottom-m">{{ 'general.404.title' | t }}</h1>
        <p class="spacing-bottom-m">{{ 'general.404.subtext' | t }}</p>
        <a href="{{routes.root_url}}" class="btn btn--primary">{{ 'general.404.link' | t }}</a>
    </div>
</div>

