<div class="gryffeditor">
<div data-label="Text Block"> <div class="elm text-edit"><p> </p>
<h3><strong>Intern Digital Customer Experience (f/m/d) - 3 to 6 month</strong></h3>
<p>gitti is a dynamic start-up based in Berlin with a highly skilled team and an outstanding company culture. We are now looking for a <strong>Digital Customer Experience Intern (f/m/d)</strong> who gets excited about creating personalized user experiences that will lead to engaged customers and increase conversion rates.</p>
<p> </p>
<p><strong>Your tasks</strong></p>
<p>Support of our website, online shop, and online magazine the good good.</p>
<ul>
<li>Maintenance and creation of our content, product and landing pages within Shopify.</li>
<li>Maintenance of our articles, layout and setup of the good good..</li>
<li>Optimization of our customer experience through continuous implementation of new features, improvement of user flows and our technical performance.</li>
<li>Improve our online experience and performance based on A/B Testing and set KPI goals</li>
<li>Analysis of relevant KPIs.</li>
<li>Work closely together with our developers and designers to ship new components features.</li>
</ul>
<p> </p>
<p><strong>Your profile</strong></p>
<ul>
<li>you are a recent graduate or currently pursuing a degree in computer science, eCommerce, digital innovation or related fields.</li>
<li>Previous internships or work experience would be an advantage.</li>
<li>You have experience working with platforms such as Shopify, Wordpress as well as analytical tools. Plus you easily dive in to new tools.</li>
<li>you have a good understanding of the most common e-commerce KPIs and feel confident to set up clean a/b testings.</li>
<li>you love to work with an analytical and creative mindset at the same time, and know how to back up your innovative ideas with relevant data.</li>
<li>You are passionate about relevant, visually pleasing content and get excited creating unique user experiences.</li>
<li>Exceptional German and English skills – French is a plus.</li>
<li>You love to work in a team and are not shy to present your thoughts and ideas.</li>
</ul>
<p><br> <strong>Your benefits</strong></p>
<ul>
<li>Join an innovative, fast growing company and revolutionize the beauty industry alongside highly motivated team.</li>
<li>Be part of an ambitious, international and empowering team that strongly focuses on sustainability and mindfulness.</li>
<li>Steep learning curve and exciting projects of which you take full responsibility from day one</li>
<li>Receive regular feedback and coaching to exceed your goals.</li>
<li>Enjoy our spacious and central Berlin office, the flexibility to integrate remote working hours and an outstanding team spirit &amp; company culture.</li>
</ul>
<p> </p>
<p><strong>Sounds like a fit?</strong></p>
<p>Please send your cover letter &amp; CV and earliest possible starting date to <a href="mailto:greta@gitti.de">greta@gitti.de</a>. The beauty industry is changing fast, support us to re-invent it. We cannot wait to meet you!</p>
<p><em> </em></p>
<p><em>“variety is the spice of life” — and a celebrated component of our culture. At gitti, we strive to create an inclusive environment that empowers our employees. We believe that our products benefit from our diverse backgrounds and experiences and are proud to be an equal opportunity employer: all qualified applicants are considered for positions regardless of race, ethnic origin, gender, age, religion or belief, marital status, gender identification, sexual orientation, or disability.</em></p></div></div>
</div><div id="divContentBk"></div>